<!DOCTYPE html>
<html lang="en">
<head>
    <title>Identify</title>
    <style>
        .title {
            color: forestgreen;
        }
        #sidebar, #edukia {
            display: inline-block;
        }
        #edukia {
            margin-left: 10em;
        }
        #edukia h3 {
            color: forestgreen;
        }

    </style>
</head>
<body>
    <h1 id="title" class="title">Filmen gunea</h1>
    <div id="sidebar">
       
        <h3>Aukerak</h3>
        <ul>
            {% block estekak %}
            <li><a href="../filmak/">Filmak ikusi</a></li>
            <li><a href="../bozkatu/">Bozkatu</a></li>
            <li><a href="../zaleak/">Zaleak</a></li>
            {% endblock %}
        </ul>
       
    </div>
    
    <div id="edukia">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
