{% extends 'FilmenGunea/menua.html' %}

{% block estekak %}
<ul>
    <li><a href="../login/">Login</a></li>
    <li><a href="../register/">Register</a></li>
</ul>
{% endblock %}

{% block content %}
    
    <div class="register_form">
        <h3>Erregistratu</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="register_btn" type="submit">Erregistratu</button>
        </form>
        {% include 'FilmenGunea/messages.html' %}
    </div>

{% endblock %}