{% extends 'FilmenGunea/menua.html' %}

{% block estekak %}
    <li><a href="../login/">Login</a></li>
    <li><a href="../register/">Register</a></li>
{% endblock %}

{% block content %}
        <div class="post">
            <h2>Kontu berria erregistratu</h2>
            <form action="../register_request/" method="post">
                {% csrf_token %}
              {{form}}
              <button type="submit">Erregistratu</button>
            </form>
            {{emaitza}}
        </div>
{% endblock %}